/* A-1 Pictures */
a[href="/anime/producer/56"] {
	--si: url(https://files.catbox.moe/dxyk6b.svg);
	--st: 0;
	--company-bg: white;
}

/* Arms */
a[href="/anime/producer/38"] {
	--si: url(https://files.catbox.moe/7upje0.svg);
	--st: 0;
	--company-bg: white;
}

/* Ajia-Do */
a[href="/anime/producer/30"] {
	--si: url(https://files.catbox.moe/06kb0z.png);
	--st: 0;
	--company-bg: white;
}

/* Actas */
a[href="/anime/producer/60"] {
	--si: url(https://files.catbox.moe/rfk903.svg);
	--st: 0;
	--company-bg: white;
}

/* Artland */
a[href="/anime/producer/8"] {
	--si: url(https://files.catbox.moe/tiqxsl.png);
	--st: 0;
	--company-bg: white;
}

/* Asahi Production */
a[href="/anime/producer/406"] {
	--si: url(https://files.catbox.moe/z7jojg.png);
	--st: 0;
	--company-bg: white;
}

a[href="/anime/producer/196"],
a[href="/anime/producer/242"] {
	--si: url(https://files.catbox.moe/9kama9.jpg);
	--st: 0;
	--company-bg: white;
}

/* A.C.G.T. */
a[href="/anime/producer/179"] {
	--si: url(https://files.catbox.moe/sgw63v.png);
	--st: 0;
	--company-bg: white;
}

/* asread. */
a[href="/anime/producer/163"] {
	--si: url(https://i.imgur.com/ahJnuOM.png);
	--st: 0;
	--company-bg: white;
}

a[href="/anime/producer/88"],
a[href="/anime/producer/292"] {
	--si: url(https://files.catbox.moe/r14voz.png);
	--st: 0;
	--company-bg: white;
}

/* Arvo Animation */
a[href="/anime/producer/1874"] {
	--si: url(https://files.catbox.moe/d152up.svg);
	--st: 0;
	--company-bg: white;
}

/* A-Line */
a[href="/anime/producer/171"] {
	--si: url(https://files.catbox.moe/fgh8f6.png);
	--st: 0;
	--company-bg: white;
}

/* Animation Do */
a[href="/anime/producer/929"] {
	--si: url(https://files.catbox.moe/an6xs4.svg);
	--st: 0;
	--company-bg: white;
}

/* Bandai Namco Pictures */
a[href="/anime/producer/1258"] {
	--si: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Bandai_Namco_Holdings_logo.svg/3840px-Bandai_Namco_Holdings_logo.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail);
	--st: 0;
	--company-bg: white;
}
/* Bones */
a[href="/anime/producer/4"] {
	--si: url(https://files.catbox.moe/2tvyed.svg);
	--st: 0;
	--company-bg: white;
}

/* Brain's Base */
a[href="/anime/producer/112"] {
	--si: url(https://files.catbox.moe/njkv0v.svg);
	--st: 0;
	--company-bg: white;
}

/* Bee Train */
a[href="/anime/producer/5"] {
	--si: url(https://files.catbox.moe/wprpal.svg);
	--st: 0;
	--company-bg: white;
}

/* Bridge */
a[href="/anime/producer/397"] {
	--si: url(https://files.catbox.moe/txilc9.svg);
	--st: 0;
	--company-bg: white;
}

/* C2C */
a[href="/anime/producer/605"] {
	--si: url(https://files.catbox.moe/gh214x.png);
	--st: 0;
	--company-bg: white;
}

/* CloverWorks */
a[href="/anime/producer/1835"] {
	--si: url(https://files.catbox.moe/a9q3jc.svg);
	--st: 0;
	--company-bg: white;
}

/* C-Station */
a[href="/anime/producer/1075"] {
	--si: url(https://files.catbox.moe/olx81g.jpg);
	--st: 0;
	--company-bg: white;
}

/* Doga Kobo */
a[href="/anime/producer/95"] {
	--si: url(https://files.catbox.moe/o4ii6p.svg);
	--st: 0;
	--company-bg: white;
}

/* Diomedéa */
a[href="/anime/producer/51"] {
	--si: url(https://files.catbox.moe/z3y8sq.png);
	--st: 0;
	--company-bg: white;
}

/* David Production */
a[href="/anime/producer/287"] {
	--si: url(https://files.catbox.moe/d3v93n.svg);
	--st: 0;
	--company-bg: white;
}
/* Drive */
a[href="/anime/producer/1967"] {
	--si: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Drive_Studio_Logo.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original);
	--st: 0;
	--company-bg: white;
}

/* Eiken */
a[href="/anime/producer/191"] {
	--si: url(https://files.catbox.moe/31w489.png);
	--st: 0;
	--company-bg: white;
}

/* feel. */
a[href="/anime/producer/91"] {
	--si: url(https://files.catbox.moe/r14voz.png);
	--st: 0;
	--company-bg: white;
}

/* Fanworks */
a[href="/anime/producer/866"] {
	--si: url(https://files.catbox.moe/wfam2j.svg);
	--st: 0;
	--company-bg: white;
}

/* Gainax */
a[href="/anime/producer/6"] {
	--si: url(https://files.catbox.moe/wfam2j.svg);
	--st: 0;
	--company-bg: white;
}

/* Gallop */
a[href="/anime/producer/36"] {
	--si: url(https://files.catbox.moe/8a8rhw.png);
	--st: 0;
	--company-bg: white;
}

/* GoHands */
a[href="/anime/producer/309"] {
	--si: url(https://files.catbox.moe/txilc9.svg);
	--st: 0;
	--company-bg: white;
}

/* Geno Studio */
a[href="/anime/producer/1393"] {
	--si: url(https://files.catbox.moe/hlbyae.png);
	--st: 0;
	--company-bg: white;
}

/* Gonzo */
a[href="/anime/producer/3"] {
	--si: url(https://files.catbox.moe/cywmav.png);
	--st: 0;
	--company-bg: white;
}

/* Graphinica */
a[href="/anime/producer/894"] {
	--si: url(https://files.catbox.moe/ooz3y3.png);
	--st: 0;
	--company-bg: white;
}

/* Hal Film Maker */
a[href="/anime/producer/34"] {
	--si: url(https://files.catbox.moe/sqwzwv.png);
	--st: 0;
	--company-bg: white;
}

/* Hololive Production */
a[href="/anime/producer/2167"] {
	--si: url(https://files.catbox.moe/tqs6v5.svg);
	--st: 0;
	--company-bg: white;
}

/* J.C.Staff */
a[href="/anime/producer/7"] {
	--si: url(https://files.catbox.moe/25jlfl.svg);
	--st: 0;
	--company-bg: white;
}

/* Kyoto Animation */
a[href="/anime/producer/2"] {
	--si: url(https://files.catbox.moe/jrtp4i.svg);
	--st: 0;
	--company-bg: white;
}

/* Khara */
a[href="/anime/producer/47"] {
	--si: url(https://files.catbox.moe/f73tr2.png);
	--st: 0;
	--company-bg: white;
}

/* Lerche */
a[href="/anime/producer/456"] {
	--si: url(https://files.catbox.moe/kym4c1.svg);
	--st: 0;
	--company-bg: white;
}

a[href="/anime/producer/839"],
a[href="/anime/producer/1982"] {
	--si: url(https://files.catbox.moe/igsh7k.png);
	--st: 0;
	--company-bg: white;
}

/* Madhouse */
a[href="/anime/producer/11"] {
	--si: url(https://files.catbox.moe/9b0xuk.svg);
	--st: 0;
	--company-bg: white;
}

/* Magic Bus */
a[href="/anime/producer/207"] {
	--si: url(https://files.catbox.moe/rpnq50.png);
	--st: 0;
	--company-bg: white;
}

/* Mushi Production */
a[href="/anime/producer/68"] {
	--si: url(https://files.catbox.moe/9kequ6.png);
	--st: 0;
	--company-bg: white;
}

/* MAPPA */
a[href="/anime/producer/569"] {
	--si: url(https://files.catbox.moe/pqqoxm.svg);
	--st: 0;
	--company-bg: white;
}

/* Manglobe */
a[href="/anime/producer/32"] {
	--si: url(https://files.catbox.moe/zu9hit.png);
	--st: 0;
	--company-bg: white;
}

/* Millepensee */
a[href="/anime/producer/1237"] {
	--si: url(https://files.catbox.moe/nchlca.png);
	--st: 0;
	--company-bg: white;
}

/* NAZ */
a[href="/anime/producer/951"] {
	--si: url(https://files.catbox.moe/ghwnet.png);
	--st: 0;
	--company-bg: white;
}

/* Nippon Animation */
a[href="/anime/producer/22"] {
	--si: url(https://files.catbox.moe/tsyqq8.png);
	--st: 0;
	--company-bg: white;
}

/* Nomad */
a[href="/anime/producer/70"] {
	--si: url(https://files.catbox.moe/w275t5.png);
	--st: 0;
	--company-bg: white;
}

/* OLM */
a[href="/anime/producer/28"] {
	--si: url(https://files.catbox.moe/c4npbi.svg);
	--st: 0;
	--company-bg: white;
}

/* Ordet */
a[href="/anime/producer/334"] {
	--si: url(https://files.catbox.moe/be8deo.png);
	--st: 0;
	--company-bg: white;
}
/* Orange */
a[href="/anime/producer/1109"] {
	--si: url(https://orangestudiosgames.com/images/orange_logo.png);
	--st: 0;
	--company-bg: white;
}

/* Passione */
a[href="/anime/producer/911"] {
	--si: url(https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/Passione_logo.svg/1280px-Passione_logo.svg.png?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=thumbnail);
	--st: 0;
	--company-bg: white;
}
/* Production I.G */
a[href="/anime/producer/10"] {
	--si: url(https://files.catbox.moe/kk8abo.svg);
	--st: 0;
	--company-bg: white;
}

/* Pierrot */
a[href="/anime/producer/1"] {
	--si: url(https://files.catbox.moe/bf2x0x.svg);
	--st: 0;
	--company-bg: white;
}

/* P.A. Works */
a[href="/anime/producer/132"] {
	--si: url(https://files.catbox.moe/gqh2bv.svg);
	--st: 0;
	--company-bg: white;
}

/* Pierrot Plus / St Signpost */
a[href="/anime/producer/1129"] {
	--si: url(https://files.catbox.moe/30bcde.svg);
	--st: 0;
	--company-bg: white;
}

/* Pine Jam */
a[href="/anime/producer/1295"] {
	--si: url(https://files.catbox.moe/3wug35.png);
	--st: 0;
	--company-bg: white;
}

/* Sunrise */
a[href="/anime/producer/14"] {
	--si: url(https://files.catbox.moe/0ayoxo.svg);
	--st: 0;
	--company-bg: white;
}

/* Studio Bind */
a[href="/anime/producer/1993"] {
	--si: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Studio_Bind_logo.svg/1280px-Studio_Bind_logo.svg.png);
	--st: 0;
	--company-bg: white;
}
/* Studio Deen */
a[href="/anime/producer/37"] {
	--si: url(https://files.catbox.moe/r1p364.svg);
	--st: 0;
	--company-bg: white;
}

/* Shaft */
a[href="/anime/producer/44"] {
	--si: url(https://files.catbox.moe/0xeb3v.svg);
	--st: 0;
	--company-bg: white;
}

/* SILVER LINK. */
a[href="/anime/producer/300"] {
	--si: url(https://files.catbox.moe/74tlyw.svg);
	--st: 0;
	--company-bg: white;
}

/* Satelight */
a[href="/anime/producer/41"] {
	--si: url(https://files.catbox.moe/jx74wi.png);
	--st: 0;
	--company-bg: white;
}

/* Studio 4°C */
a[href="/anime/producer/13"] {
	--si: url(https://files.catbox.moe/r322gz.png);
	--st: 0;
	--company-bg: white;
}

/* Studio Comet */
a[href="/anime/producer/126"] {
	--si: url(https://files.catbox.moe/sahmio.png);
	--st: 0;
	--company-bg: white;
}

/* Studio Hibari */
a[href="/anime/producer/101"] {
	--si: url(https://files.catbox.moe/ludbv0.png);
	--st: 0;
	--company-bg: white;
}

/* SANZIGEN */
a[href="/anime/producer/537"] {
	--si: url(https://files.catbox.moe/02139r.jpg);
	--st: 0;
	--company-bg: white;
}

/* Studio Ghibli */
a[href="/anime/producer/21"] {
	--si: url(https://files.catbox.moe/zsfftz.svg);
	--st: 0;
	--company-bg: white;
}

/* SynergySP */
a[href="/anime/producer/118"] {
	--si: url(https://files.catbox.moe/v6dwdb.svg);
	--st: 0;
	--company-bg: white;
}

/* Seven Arcs */
a[href="/anime/producer/35"] {
	--si: url(https://files.catbox.moe/0xeb3v.svg);
	--st: 0;
	--company-bg: white;
}

/* Signal.MD */
a[href="/anime/producer/1278"] {
	--si: url(https://files.catbox.moe/ykxgzr.png);
	--st: 0;
	--company-bg: white;
}

/* Studio 3Hz */
a[href="/anime/producer/1127"] {
	--si: url(https://files.catbox.moe/z1sjat.png);
	--st: 0;
	--company-bg: white;
}

/* Studio Signal */
a[href="/anime/producer/438"] {
	--si: url(https://files.catbox.moe/bodm46.jpg);
	--st: 0;
	--company-bg: white;
}

/* Science SARU */
a[href="/anime/producer/1591"] {
	--si: url(https://files.catbox.moe/zs5ox0.png);
	--st: 0;
	--company-bg: white;
}

/* Silver */
a[href="/anime/producer/1873"] {
	--si: url(https://files.catbox.moe/xd3fix.jpg);
	--st: 0;
	--company-bg: white;
}

/* Studio Palette */
a[href="/anime/producer/2201"] {
	--si: url(https://files.catbox.moe/fp18o7.png);
	--st: 0;
	--company-bg: white;
}

/* TMS Entertainment */
a[href="/anime/producer/73"] {
	--si: url(https://files.catbox.moe/6tar5m.svg);
	--st: 0;
	--company-bg: white;
}

/* Toei Animation */
a[href="/anime/producer/18"] {
	--si: url(https://files.catbox.moe/o1cj3f.svg);
	--st: 0;
	--company-bg: white;
}

/* Tatsunoko Production */
a[href="/anime/producer/103"] {
	--si: url(https://files.catbox.moe/9woed5.png);
	--st: 0;
	--company-bg: white;
}

/* TNK */
a[href="/anime/producer/120"] {
	--si: url(https://files.catbox.moe/vbg37j.png);
	--st: 0;
	--company-bg: white;
}

/* Telecom Animation Film */
a[href="/anime/producer/94"] {
	--si: url(https://files.catbox.moe/20nj7h.png);
	--st: 0;
	--company-bg: white;
}

/* Trigger */
a[href="/anime/producer/803"] {
	--si: url(https://files.catbox.moe/ojbw57.svg);
	--st: 0;
	--company-bg: white;
}

/* ufotable */
a[href="/anime/producer/43"] {
	--si: url(https://files.catbox.moe/7upje0.svg);
	--st: 0;
	--company-bg: white;
}

/* WIT Studio */
a[href="/anime/producer/858"] {
	--si: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Wit_studio.svg);
	--st: 0;
	--company-bg: white;
}
/* White Fox */
a[href="/anime/producer/314"] {
	--si: url(https://files.catbox.moe/7b136t.svg);
	--st: 0;
	--company-bg: white;
}

/* Xebec */
a[href="/anime/producer/27"] {
	--si: url(https://files.catbox.moe/tsyqq8.png);
	--st: 0;
	--company-bg: white;
}

/* Yumeta Company */
a[href="/anime/producer/96"] {
	--si: url(https://files.catbox.moe/mgyu4f.png);
	--st: 0;
	--company-bg: white;
}

/* Zexcs */
a[href="/anime/producer/218"] {
	--si: url(https://files.catbox.moe/6s6dek.png);
	--st: 0;
	--company-bg: white;
}