@import url("https://cdn.githubraw.com/pandorafromtheothers/MAL-FidgetUI-CSS/refs/heads/main/company_logo.css");
/* ***************** */
/* Brought to you by */
/* ***************** */
/** FROM THE OTHERS **/
/* ***************** */

/* CUSTOMIZATION */
:root{
  /* All of these have to be decimals! */
  --primary: 79, 163, 253;
  --black: 0,0,0;
  --white: 255, 255, 255;
  --shadow: 0,0,0;

  /* All of these have to be HEX codes! */
  --watching: #2db039;
  --completed: #26448f;
  --dropped: #a12f31;
  --onhold: #f1c83e;
  --plantowatch: #c3c3c3;
  --st: visible;
  --si: none;
  --company-bg: none;
}
body {
  background-image: url(https://raw.githubusercontent.com/pandorafromtheothers/MAL-FidgetUI-CSS/refs/heads/main/background/P3_sprite.jpg) !important;
  background-repeat: no-repeat;
  animation: bg-animate 3.5s steps(55) infinite;
  background-size: max(100vw, 177.7778vh) auto;
  background-attachment: fixed;
}
/* END OF CUSTOMIZATIONS */

@keyframes circle{
  0%{border:unset}
  25%{border-top: 1px solid rgb(var(--black))}
  50%{
    border-top: 1px solid rgb(var(--black));
    border-right: 1px solid rgb(var(--black));
  }
  75%{
    border-top: 1px solid rgb(var(--black));
    border-right: 1px solid rgb(var(--black));
      border-bottom: 1px solid rgb(var(--black));
  }
  100%{
    border-top: 1px solid rgb(var(--black));
    border-right: 1px solid rgb(var(--black));
    border-bottom: 1px solid rgb(var(--black));
    border-left: 1px solid rgb(var(--black));
  }
}
@keyframes bg-animate {
    from { background-position: 0 0; }
    to { background-position: 0 calc(-30.9375 * max(100vw, 177.7778vh)); } 
}

.list-container,.list-block,.list-unit,.status-menu-container,.list-status-title, .list-status-title>span.text{
  width: 100% !important;
}
.list-status-title, .status-menu{
  display: flex !important;
  margin: auto;
  justify-content: center;
}
.list-unit .list-status-title{
  border-left: 2px dashed rgb(var(--black)) !important;
  border-right: 2px dashed rgb(var(--black)) !important;
}
.list-status-title{
  width: fit-content !important;
  border-radius: 10px;
  background-color: rgb(var(--primary)) !important;
  border: 2px dashed rgb(var(--black)) !important;
  box-shadow: 6px 6px rgb(var(--shadow),0.4);
  position: unset !important;
}
.list-stats{
  margin-top: 10px !important;
  width: fit-content !important;
  padding: 0px 20px;
  margin:auto;
  background-color: rgb(var(--primary)) !important;
  color:rgb(var(--white)) !important;
  border-radius: 5px;
  border: 1px solid rgb(var(--black));
}
.floatRightHeader{
  margin-left: 10px;
}
.list-container{
  background-color: unset !important;
  border: unset;
}
body a{
  color: rgb(var(--white)) !important;
}
.stats{
  position: unset !important;
  height: fit-content !important;
  line-height: unset !important;
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
}

.list-item{
  border-radius:20px;
  border: 1px solid rgb(var(--black));
  margin: 10px;
  background: linear-gradient(235deg,rgb(var(--primary), 0.8) 45%, rgba(0, 0, 0, 0.8) 45%);
  box-shadow: 10px 10px rgb(var(--shadow),0.4);
  transition: all .5s ease;
  display: grid;
  grid-template-columns: 1fr;
}

.list-item:hover {
  padding:0px 10px;
}
.list-table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.list-table-data{
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  grid-template-columns: 205px 340px;
  padding-bottom: 10px;
}
.image{
    width: auto !important;
    height: 225px !important;
    border-radius: 20px;
    margin: 5px 10px 0px 10px
}
.data.image>a>img {
  transition: all .3s ease;
}
td.data.image{
  text-align: start !important;
  grid-row: 1;
  grid-row-end: 6;
}
.data.image:hover > a > img {
  scale: 1.5;
  z-index: 999;
}
.data.title, .data.season, .data.mal_score, .data.genre, .data.score{
  border: 0px !important;
  width: fit-content;
}
.header-menu>.btn-menu{
  display: none !important;
}
.header-info {
  background: rgb(var(--black), 0.7);
  padding: 10px;
  border-radius: 10px;
}
.header-info > a:hover {
  color: rgb(var(--primary)) !important;
}
.header-info>a {
  transition: all .3s ease;
}
.data.progress>div>span:last-of-type:after {
  content: ' Ep';
}
.data.chapter>div>span:last-of-type:after {
  content: ' Ch';
}
.data.volume>div>span:last-of-type:after {
  content: ' Vol';
}
.data.title{
  margin-top: 5px;
  width: 340px;
  padding: 0px !important;
  grid-row: 1;
}
.data.type {
  grid-column: 1;
  grid-row: 8;
}
.data.season {
  grid-row: 3;
  grid-column: 2;
}
.data.licensor, .data.magazine {
  grid-column: 2;
  grid-row: 8;
  justify-self: center;
}
.data.studio {
  grid-column: 2;
  grid-row: 4;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: unset;
}
.data.studio>span {
  margin-right: 5px;
}
.data:is(.studio){
  font-size: 0px;
}
/* #region Logo replacement */
.data.studio a::after{
    content: "";
    background: var(--si) center / contain no-repeat;
    height: 18px;
    transform: translate(0px, -15px);
    display: block;
    opacity: 1;
    background-color: var(--company-bg);
    border-radius: 5px;
    transition: all .3s ease;
}
.data.studio a {
    font-size: 15px;
    visibility: var(--st);
    height: 18px;
    display: block;
}
.data.studio a:hover{
	opacity: 1;
}
.data.studio a:hover::after {
	opacity: 0;
}
/* #endregion */
.data.tags {
  grid-column: 2;
  grid-row: 7;
  justify-self: center;
}
.data.rated {
  grid-column: 1;
  grid-row: 7;
}
.data.genre{
  width: 335px;
  text-align: left !important;
  font-variant: all-small-caps;
  grid-column: 2;
  grid-row: 2;
}
.data.mal_score{
  font-weight: 600;
  color: rgb(var(--white));
  grid-column: 2;
  grid-row: 4;
}
.data.mal_score:after{
  content: "MAL";
  font-weight: 500;
}
.data.score:after{
  content: "/10 Desu";
}
.data.score{
    grid-column: 2;
    grid-row: 5;
}
.data.chapter {
  grid-column: 1;
  grid-row: 7;
}
.data.progress, .data.volume{
  align-content: center;
  grid-column: 1;
  grid-row: 6;
  margin-top: 15px;
}
td.data.progress>div, .data.volume>div {
  display: flex;
  justify-content: center;
}
.data.number {
  grid-column: 2;
  grid-row: 9;
  justify-self: end;
  margin-right: 20px;
}
.data.priority {
  grid-column: 1;
  grid-row: 9;
}
td.data.airing-started {
    grid-column: 2;
    grid-row: 3;
}

td.data.airing-finished {
    grid-row: 3;
    grid-column: 2;
    display: flex;
    justify-self: flex-end;
    margin-right: 10px;
}
.notes{
  font-size: 10px;
  line-height: 1em;
  padding: 5px;
  color: rgb(var(--white), 0.8);
  background: rgb(var(--black), 0.4);
  border-radius: 4px;
  font-weight: 600;
  transition: all .5s ease;
  margin-right: 5px;
  margin-left: -2px;
}
.list-table-header{
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: stretch;
  justify-content: space-evenly;
  left: 0px;
  margin-top: 15px;
}
.list-table>tbody:nth-child(1) {
  display: contents;
}
.list-table-header>.header-title{
  margin: 0px;
  display: flex !important; 
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  padding: 5px 10px !important;
  height: 20px !important;
  transition: padding .3s, outline .5s ease;
  margin-bottom: 5px;
  width: unset !important;
  min-width: 60px;
}
.list-table-header>.header-title:hover{
  padding: 5px 15px !important;
  outline: 2px solid rgb(var(--primary)) !important;
}

.list-item:hover>.list-table-data > .data.title>.link.sort {
  text-shadow: 2px 2px rgb(var(--shadow));
}
.list-item:hover>.list-table-data > .data.title>.notes {
  color: rgb(var(--white));
}


.add-edit-more{
  text-transform: full-width;
  font-variant: all-small-caps;
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 10px;
}
.more-info{
  position: absolute;
  background: rgba(var(--black), 0.7);
  margin-top: 55px;
  justify-self: flex-end;
  width: 360px;
}

.header-title.number, .header-title.image, .header-title.started:not(:has(.link)), .header-title.genre, .icon-watch2, .header-title.status, .data.status, .header-title.studio{
  display: none !important;
}

.list-status-title>span.text {
  align-content: center;
  color: rgb(var(--white)) !important;
}
.list-table .list-table-data .data a{
  color: rgb(var(--white)) !important;
}
.list-table .list-table-data .data{
  border-bottom: none;
  padding: 0px
}

div#status-menu {
    background: unset;
    border-bottom: unset;
}
a.status-button {
    background: rgb(var(--black), 0.8);
    color: rgb(var(--primary)) !important;
    border-radius: 5px;
    padding: 5px !important;
}
.data.title>.link.sort {
  font-weight: 100 !important;
  font-variant: all-petite-caps;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif; 
  font-size: 15px !important;
  transition: all .5s ease;
}
.status-menu-container .status-menu .status-button::after{
  border-radius: 0px 0px 30px 30px;
  background-color: rgb(var(--primary));
}
.list-table .list-table-data a:not(.edit-disabled):hover {
  color: #00fff3 !important;
}
.list-table .list-table-header .header-title .sort-icon{
  color: rgb(var(--primary));
}
.icon{
  fill: rgb(var(--primary)) !important;
}


.btn-apply, .btn-clear{
  background-color: rgb(var(--primary)) !important;
}
#advanced-options{
  background: rgba(var(--black), 0.85);
}
.header{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: unset;
}
.header>.header-title {
  background-color: rgb(var(--black),0.8);
  background-size: 175px !important;
  border-radius: 5px;
  width: 185px !important;
  background-position: center;
  transition: all .3s ease;
  grid-row: 1;
  grid-column: 2;
  position: relative;
}
.header>.header-title:hover{
  padding: 3px;
}
.icon-menu {
  border-radius: 99px;
}
.list-menu-float {
  border: unset;
  width: fit-content;
  margin-left: 7px;
}
#show-stats-button, #advanced-options-button  {
  border-radius: 99px;
  padding: 3px;
}
#show-stats-button:hover, #advanced-options-button:hover{
  border: 1px rgb(var(--black)) solid;
  animation: circle forwards .4s cubic-bezier(.65,.05,.36,1);
}

.status-menu-container.fixed>.status-menu>.status-button {
  margin: 0px 0px;
  border-radius: 0px;
  padding-top: 10px !important;
  border-bottom: 4px solid rgb(var(--primary));
  box-shadow: unset;
}
.status-menu-container.fixed .status-button.on::after{
  opacity: 0;
}
.status-menu-container.fixed>.status-menu>.status-button.all_anime {
  border-radius: 0px 0px 0px 20px;
  border-left: 4px solid rgb(var(--primary));
}
.status-menu-container.fixed>.status-menu>.status-button.plantowatch,
.status-menu-container.fixed>.status-menu>.status-button.plantoread{
  border-radius: 0px 0px 20px 0px;
  border-right: 4px solid rgb(var(--primary));
}
.status-menu-container:not(.fixed)>.status-menu>.status-button {
  margin: 5px 20px;
}
.status-menu-container.fixed>.status-menu>.status-button,
.status-menu-container:not(.fixed)>.status-menu>.status-button{
  transition: all .5s ease-in-out !important;
}
.status-menu-container:not(.fixed)>.status-menu {
    flex-wrap: wrap;
}
.status-menu-container.fixed>.status-menu{
    flex-wrap: nowrap;
}
.status-button {
  font-variant: all-petite-caps;
  box-shadow: 5px 5px rgb(var(--shadow),0.4);
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}
.status-menu {
  align-items: flex-end;
  line-height: 2em;
  word-break: break-all;
}
.fa-solid.fa-magnifying-glass {
  color: rgb(var(--black));
  border-radius: 50%;
  padding: 5px;
  transition: all .3s ease;
}
.fa-solid.fa-magnifying-glass:hover {
  border: 1px rgb(var(--black)) solid;
  animation: circle forwards .5s cubic-bezier(.65,.05,.36,1);
  padding: 10px;
  margin: -5px 0px;
}
.search-container {
  position: unset !important;
  align-self: center;
}
#search-button,#search-box {
  margin-top: 0px !important;
  height: unset !important;
}
#search-box, #search-box>input{
  border-radius: 10px;
}
.fa-solid.fa-circle-plus {
  font-size: 15px;
  margin-left: 5px;
}
footer {
  display: none;
}

.list-unit.watching>.list-status-title, .list-unit.reading>.list-status-title{background: var(--watching) !important;}
.list-unit.completed>.list-status-title{background: var(--completed)  !important;}
.list-unit.dropped>.list-status-title{background: var(--dropped)  !important;}
.list-unit.onhold>.list-status-title{background: var(--onhold) !important;}
.list-unit.plantowatch>.list-status-title, .list-unit.plantoread>.list-status-title{background: var(--plantowatch) !important;}

td.data.status.watching ~ td.data.image > a > img, td.data.status.reading ~ td.data.image > a > img {border: 3px solid var(--watching) !important;}
td.data.status.completed ~ td.data.image > a > img {border: 3px solid var(--completed) !important;}
td.data.status.dropped ~ td.data.image > a > img {border: 3px solid var(--dropped) !important;}
td.data.status.onhold ~ td.data.image > a > img {border: 3px solid var(--onhold) !important;}
td.data.status.plantowatch ~ td.data.image > a > img, td.data.status.plantoread ~ td.data.image > a > img {border: 3px solid var(--plantowatch) !important;}

.score-1 {color: #cb0026;}
.score-2 {color: #e50a0c;}
.score-3 {color: #eb3508;}
.score-4 {color: #f07004;}
.score-5 {color: #f0ad00;}
.score-6 {color: #f4d604;}
.score-7 {color: #9ecc21;}
.score-8 {color: #85cc21;}
.score-9 {color: #41b836;}
.score-10 {color: #a300ff;}